@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: white;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

.container {
  position: relative;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: scroll;
}

.container__above {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  z-index: -2;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-weight: 400;
  margin-bottom: 10px;
}

.heading h2 {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 2rem;
}

.table__mobile {
  display: none;
}

.table__large {
  display: block;
}

.form__search,
.form {
  display: flex;
  gap: 14px;
}

input[type=number] {
  height: 50px;
  width: 320px;
  padding: 6px 18px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 6px;
}

select {
  border: none;
  outline: none;
  color: white;
  padding: 0 12px;
  cursor: pointer;
  height: 50px;
  font-size: 18px;
  background: #0067e2;
  border-radius: 6px;
}

option:not(:checked) {
  background-color: #fff;
  color: black;
}

input[type=submit] {
  display: block;
  border: none;
  outline: none;
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
  color: white;
  background: #0067e2;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  transition: all 0.2s;
  background: #005ac9;
}

.table__result {
  margin-top: 30px;
}

.table__result h3 {
  text-align: left;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}

table,
tr,
th,
td {
  border: #fff solid 2px;
  border-collapse: collapse;
}

th,
td {
  vertical-align: bottom;
  padding: 12px 20px;
}

@media only screen and (max-width: 900px) {
  .container {
    height: auto;
    padding: 40px 20px;
  }

  .form {
    display: unset;
  }

  .table__large {
    display: none;
  }

  .table__mobile {
    display: block;
  }

  th,
  td {
    vertical-align: middle;
    text-align: center;
  }

  input {
    width: 100%;
  }

  input[type=submit] {
    width: 100%;
    margin-top: 16px;
  }
}